{% extends "coffeeorder_app/base.html" %}
{% load staticfiles %}
{% block head_css_section %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet" media="screen">
{% endblock head_css_section %}
{% block content %}

    <div class="jumbotron text-center">
        <h1>AÑADIR PRODUCTO</h1>
    </div>




    <div class="container-fluid" id="product-form">
        <div class="container-fluid registration-container col-md-6 col-md-offset-3">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h2>FORMULARIO PRODUCTO</h2>
                    <form enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        {% for field in product_form %}
                            <div class="form-group">
                                <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                                {{ field }}
                                <p>{{ field.errors }}{{ forms.non_field_errors }}</p>
                                {% if field.help_text %}
                                    <small class="form-text text-muted">{{ field.help_text }}</small>
                                {% endif %}
                            </div>
                        {% endfor %}
                        {% for p_field in profile_form %}
                            <div class="form-group">
                                <label class="control-label" for="{{ p_field.name }}">{{ p_field.label }}</label>
                                {{ p_field }}
                                <p>{{ p_field.errors }}{{ forms.non_field_errors }}</p>
                                {% if p_field.help_text %}
                                    <small class="form-text text-muted">{{ p_field.help_text }}</small>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <div id="image-selection">
                            <div class="row">
                            </div>
                        </div>
                        <div class="text-center">
                            <input class="btn btn-primary" type="submit" name="" value="AÑADIR PRODUCTO"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block footer_javascript_page %}
{% endblock footer_javascript_page %}