{% extends "coffeeorder_app/base.html" %}
{% load staticfiles %}
{% block head_css_page %}
    <link href="{% static 'css/coffee.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/login.css' %}" rel="stylesheet" media="screen">
{% endblock head_css_page %}
{% block title %}HOME{% endblock title %}
{% block content %}

    <div class="jumbotron text-center">
        <div class="figure col-12">
            <svg class="figure-space coffee-home" viewBox="0 0 300 300" aria-hidden="true">
                <image class="coffee-logo" x="35%" y="25%" xlink:href="{% static 'images/svgs/1coffee.svg' %}"/>
                <ellipse fill="#595959" cx="185" cy="270" rx="80" ry="7"/>
            </svg>
        </div>
        {% if user.is_authenticated %}
            {% if warning%}
            <div class="alert alert-warning" role="alert">
              {{ warning }}
            </div>
        {% endif %}
            <a role="button" class="btn btn-primary" href="{% url 'account_app:create_group' %}"><span
                    class="glyphicon glyphicon-plus-sign"></span> Create group</a>
            <a role="button" class="btn btn-primary" onclick="show_code()"><span
                    class="glyphicon glyphicon-plus-sign"></span> Join a group</a>
            <div class="row " id="invitationContainer">
                <div class="col-md-4 col-12  offset-md-4 hidden-box">
                    <form method="post" name="join_group_form">
                        {% csrf_token %}
                        <div class="form-group">
                            <h2 style="font-weight:bold">Introduce invitation code:</h2>
                            {% for field in join_group_form %}
                                <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                                {{ field }}
                            {% endfor %}
                        </div>
                        <div class="">
                            <input class="btn btn-primary" type="submit" name="" value="Join">
                        </div>
                    </form>

                </div>
            </div>
        {% endif %}

    </div>
    {% include "coffeeorder_app/orderContainer.html" %}
    {% include "coffeeorder_app/groupContainer.html" %}
    {% block footer_javascript_page %}
        <script src="{% static 'js/main.js' %}"></script>
        <script src="{% static 'js/coffee.js' %}"></script>
    {% endblock footer_javascript_page %}
{% endblock %}
