{% extends "coffeeorder_app/base.html" %}
{% load staticfiles %}
{% block head_css_section %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet" media="screen">
{% endblock head_css_section %}
{% block content %}

    <div class="jumbotron text-center">
        <h1>Create a new order list:</h1>
    </div>
    <a role="button" class="btn btn-primary" href="{% url 'coffeeorder_app:add_bar' group.id %}"><span
            class="glyphicon glyphicon-plus-sign"></span> ADD BAR</a>

    <div id="listmenu" class="container-fluid">
        <div class="row">
            <h2>Select bar::</h2>
        </div>

        <div class="card-container">
            <div class="row">
                <div class="col-12"><h1> OFFICIALS:</h1></div>
                {% for bar in official_bar.all %}
                    <div class="col-12 col-md-3 col-lg-3 mt-4 ">
                        <a href="{% url 'coffeeorder_app:add_order_list' group.id bar.id %}">
                            <div class="card">
                                <div class="card-block" style="background-color:{{ bar.bar_color }};">
                                    <h4 class="card-title mt-3">{{ bar.bar_name }}</h4>
                                    <p class="card-text">{{ bar.bar_info }}</p>
                                </div>
                                <div class="card-footer">
                                    <img class="card-logo" src="/static/images/svgs/1coffee.svg">
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-12"><h1> NO OFFICIALS:</h1></div>
                {% for bar in group.group_bar.all %}
                    <div class="col-12 col-md-3 col-lg-3 mt-4 ">
                        <a href="{% url 'coffeeorder_app:add_order_list' group.id bar.id %}">
                            <div class="card">
                                <div class="card-block" style="background-color:{{ bar.bar_color }};">
                                    <h4 class="card-title mt-3">{{ bar.bar_name }}</h4>
                                    <p class="card-text">{{ bar.bar_info }}</p>
                                </div>
                                <div class="card-footer">
                                    <img class="card-logo" src="/static/images/svgs/1coffee.svg">
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div> <!-- card-container -->
    </div> <!-- container-->
{% endblock %}
{% block footer_javascript_page %}
{% endblock footer_javascript_page %}