{% if order_list_details %}
    <div class="container-fluid">
        <div class="card-container ">
            <div class="row"><h2>LIST OF ACTIVE ORDERS</h2></div>
            <div class="row">
                {% for key,value in order_list_details.items %}

                    <div class="col-12 col-md-6  col-lg-3 mt-4">
                        <div class="card">
                            <div class="card-block" style="background-color:{{ bar.bar_color }};">
                                <h2 class="card-title mt-3">BAR:{{ value.order.order_bar.bar_name| default:"" }}</h2>
                                <h2 class="card-title mt-3">GROUP:{{ value.order.order_group.group_name }}</h2>
                                <p class="card-text">{{ value.order.created }}</p>
                                {% for user, products in value.details.items  %}
                                    {% for product, p_detail in products.items%}
                                    <div class="row" id="{{ product }}-{{ det.product_id }}">
                                        <div class="col-12">
                                            <span id="{{ product }}-{{  p_detail.product_id }}-product">{{ product }}</span> X
                                            <span id="{{ product }}-{{  p_detail.product_id }}-quantity">{{ p_detail.quantity }}</span> =>
                                            <span id="{{ product }}-{{  p_detail.product_id }}-prize">{{  p_detail.prize }}</span>€
                                            (<span id="{{ product }}-{{  p_detail.product_id }}-user">{{  user }}</span>)
                                        </div>
                                    </div>
                                     {% endfor %}
                                {% endfor %}
                                <hr>
                                <a class="btn  btn-warning" href="{% url 'coffeeorder_app:add_order'  key %}">MAKE
                                    ORDER!</a>
                                <p class="card-text card-prize">{{  value.prize|default:0 }}€</p>
                            </div>
                            <div class="card-footer">
                                {% if admin %}
                                    <a class="btn  float-right btn-sm btn-danger"
                                       href="{% url 'coffeeorder_app:delete_order_list' group.id key %}">DELETE</a>
                                {% else %}
                                    <img class="card-logo" src="/static/images/svgs/1coffee.svg">
                                {% endif %}
                            </div>
                        </div>

                    </div>
                {% endfor %}
            </div>
        </div> <!-- card-container -->
    </div> <!-- container-->
{% endif %}