{% extends "coffeeorder_app/base.html" %}
{% load staticfiles %}
{% block head_css_section %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet" media="screen">
{% endblock head_css_section %}
{% block content %}
    <script src="{% static 'js/piklor.min.js' %}"></script>
    <div class="jumbotron text-center">
        {% if registered %}
            <h1>Group created!</h1>
        {% else %}
            <h1>CREATE NEW GROUP</h1>
        {% endif %}
    </div>

    {% if registered == False %}

        <div class="container-fluid ">
            <div class="container-fluid registration-container col-md-6 col-md-offset-3">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <h2>Info of the group:</h2>
                        <form enctype="multipart/form-data" method="post">
                            {% csrf_token %}
                            {% for field in group_form %}
                                <div class="form-group">
                                    <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                                    {{ field }}
                                    <p>{{ field.errors }}{{ forms.non_field_errors }}</p>
                                    {% if field.help_text %}
                                        <small class="form-text text-muted">{{ field.help_text }}</small>
                                    {% endif %}
                                </div>
                            {% endfor %}
                            <div class="text-center">
                                <input class="btn btn-primary" type="submit" name="" value="CREATE GROUP"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <a role="button" class="btn btn-primary" style='margin: 5% 50%;' href="{% url 'index' %}">HOME</a>
    {% endif %}
{% endblock %}
{% block footer_javascript_page %}
    <script>
        var colorElement = " <div class='picker-wrapper'> \
            <a role='button' class='btn btn-success'>Seleccione un color</a> \
            <div class='color-picker'> \
                    </div> \
                </div> "
        $(".color-menu").before(colorElement);
        console.log("S")
        window.addEventListener("load", function () {
            var pk = new Piklor(".color-picker", [
                    "#1abc9c"
                    , "#2ecc71"
                    , "#3498db"
                    , "#9b59b6"
                    , "#34495e"
                    , "#16a085"
                    , "#27ae60"
                    , "#2980b9"
                    , "#8e44ad"
                    , "#2c3e50"
                    , "#f1c40f"
                    , "#e67e22"
                    , "#e74c3c"
                    , "#ecf0f1"
                    , "#95a5a6"
                    , "#f39c12"
                    , "#d35400"
                    , "#c0392b"
                    , "#bdc3c7"
                    , "#7f8c8d"
                ], {
                    open: ".picker-wrapper .btn"
                })
                , wrapperEl = pk.getElm(".picker-wrapper ")
                , header = pk.getElm("header")
                , footer = pk.getElm("footer")
            ;

            pk.colorChosen(function (col) {
                $("#id_group_color").val(col)
                wrapperEl.style.backgroundColor = col;

            });
        });
    </script>
{% endblock footer_javascript_page %}