
svg:not(:root) {
    overflow: hidden;
}
.figure{
    text-align:center;
}


.figure-space, .figure>h2{
        margin-left: -15%;
}
.figure-space, .figure>h2{
        margin-left: -15%;
}
.coffee-home{
     margin-left: -4%!important;
}
.figure-space,.coffee-logo {
    max-width: 200px;
}

@-webkit-keyframes pos {
    0%, 100% {
        -webkit-transform: rotate(-6deg);
        transform: rotate(-6deg);
    }
    50% {
        -webkit-transform: rotate(6deg);
        transform: rotate(6deg);
    }
}

@keyframes pos {
    0%, 100% {
        -webkit-transform: rotate(-6deg);
        transform: rotate(-6deg);
    }
    50% {
        -webkit-transform: rotate(6deg);
        transform: rotate(6deg);
    }
}
.coffee-brand{
    height:10em;
    width:10em;
}
.navbar-brand, nav .figure{
    width: 50px;
    padding:0;
}
.coffee-logo {
    fill: #43b1b0;
    -webkit-animation: pos 3s ease infinite;
            animation: pos 3s ease infinite;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    -webkit-transform-origin: 50% 80%;
            transform-origin: 50% 80%;
}



@media (max-width: 599px) {
    .main {
        padding: 20px 0;
    }

    .figure-space {
        max-width: 200px;
    }

}
