<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
  <title>{% block title %}TEST{% endblock title %}</title>
  {% block favicon %}
      <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" type="image/gif" sizes="16x16">
      <link rel="icon" href="{% static 'favicon/favicon.ico' %}" type="image/x-icon" />
      <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}"  type="image/x-icon" />
  {% endblock favicon %}
  {% block head %}
      {% block head_charset %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      {% endblock head_charset %}
      {% block head_contentlanguage %}
          <meta http-equiv="Content-Language" value="es" />
      {% endblock head_contentlanguage %}
      {% block header_javascript_site %}
          <script src="{% static 'js/jquery.min.js' %}"></script>
          <script src="{% static 'js/bootstrap.min.js' %}"></script>
          <script src="{% static 'js/main.js'%}"></script>
          <script>
          $(document).ready(function() {
            // get current URL path and assign 'active' class
            var pathname = window.location.pathname;
            $('.nav > li > a[href="'+pathname+'"]').parent().addClass('active');
          });
          </script>
      {% endblock header_javascript_site %}
      {% block head_viewport %}
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
      {% endblock head_viewport %}
  {% endblock head %}
  {% block head_css %}
      {% block head_css_site %}
          <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
          <link href="{% static 'css/basic.css' %}" rel="stylesheet" media="screen">
      {% endblock head_css_site %}
      {% block head_css_section %}{% endblock head_css_section %}
      {% block head_css_page %}{% endblock head_css_page %}
  {% endblock head_css %}
</head>

<body>
  {# Navigation #}
  <header>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <div class="logo-img">
            <a href="#" > <span class="navbar-brand">LOGO</span></a>
          </div>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="phase-indicator first-indicator" href="#">NAV 1</a></li>
            <li><a class="phase-indicator first-indicator" href="#">NAV 2</a></li>
            {% if user.is_authenticated %}
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                {% if request.session.profile_pic %}
                <img class="avatar-img-nav" src="/media/{{request.session.profile_pic}}">
                {% else %}
                <img class="avatar-img-nav" src="{% static 'images/avatar.png'%}">
                {% endif %}
                {{request.user.username}}
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>  <a href="/cluster_app/profile/{{ user.id }}/">Perfil</a></li>
                <li>  <a href="{% url 'account_app:user_logout' %}">Logout</a></li>
              </ul>
            </li>
            {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'account_app:user_login' %}"><span class="glyphicon glyphicon-user"></span>Login/Registrar</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </header>

  {# The Document Body #}
<div class="content-container">
{% block content %}
{% endblock content %}
</div>
  {# Footer #}
  <footer class="footer navbar fixed-bottom">
    <div class="alert alert-info text-center" role="alert">
     <p>Versión Beta</p>
   </div>
  </footer>
</body>

{# JavaScript #}
  {% block footer_javascript %}
      {% block footer_javascript_site %}

      {% endblock footer_javascript_site %}
      {% block footer_javascript_section %}{% endblock footer_javascript_section %}
      {% block footer_javascript_page %}{% endblock footer_javascript_page %}
  {% endblock footer_javascript %}
</html>
