{% extends 'base.html' %}
{% load staticfiles %}
{% block head_css_section %}
  <link href="{% static 'css/login.css' %}" rel="stylesheet" media="screen">
{% endblock head_css_section %}
{% block content %}

<div class="jumbotron text-center">
  {% if registered %}
    <h1>Gracias por registrarte!</h1>

  {% else %}
  <h1>REGISTRAR NUEVO USUARIO</h1>
  {% endif %}
</div>

{% if registered == False %}

<div class="container-fluid ">
  <div class="container-fluid registration-container col-md-6 col-md-offset-3">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2>Datos del usuario:</h2>
        <form enctype="multipart/form-data" method="post">
          {% csrf_token %}
          {% for field in user_form %}
          <div class="form-group">
            <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
            {{ field }}
            <p>{{ field.errors }}{{ forms.non_field_errors }}</p>
            {% if field.help_text %}
            <small  class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
          </div>
          {% endfor %}
          {% for p_field in profile_form %}
          <div class="form-group">
            <label class="control-label" for="{{ p_field.name }}">{{ p_field.label }}</label>
            {{ p_field  }}
            <p>{{p_field.errors }}{{ forms.non_field_errors }}</p>
            {% if p_field.help_text %}
            <small  class="form-text text-muted">{{ p_field.help_text }}</small>
            {% endif %}
          </div>
          {% endfor %}
          <div class="text-center">
            <input class="btn btn-primary" type="submit" name="" value="Registrar" />
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2>¿Ya tienes cuenta? Haz login aquí:</h2>
        <form action="{% url 'account_app:user_login' %}">
        <div class="text-center">
          <input class="btn btn-primary" type="submit" value="LOGIN" />
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% else %}
  <a class="btn btn-primary " style='margin: 5% 50%;' href="{% url 'account_app:user_login' %}">Login</a>
{% endif %}
{% endblock %}
